 <section id="main" translate-namespace="DASHBOARD">
           <div ng-include="'public/template/partials/sidebar.html'" ng-cloak></div>

            <section id="content">
                <div class="container">
	             <!--   <div class="c-analytics row hidden-xs">
                        <div class="col-sm-4">
                            <div class="ca-item media">
                                <div class="pull-right hidden-sm">
                                    <div class="sparkline-bar-4 cai-chart"><canvas width="106" height="50" style="display: inline-block; width: 106px; height: 50px; vertical-align: top;"></canvas></div>
                                </div>
                                <div class="media-body">
                                    <h2>987,459</h2>
                                    <small> People Served</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="ca-item media">
                                <div class="pull-right hidden-sm">
                                    <div class="sparkline-bar-5 cai-chart"><canvas width="106" height="50" style="display: inline-block; width: 106px; height: 50px; vertical-align: top;"></canvas></div>
                                </div>
                                <div class="media-body">
                                    <h2>356,785K</h2>
                                    <small>Orders Placed</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="ca-item media">
                                <div class="pull-right hidden-sm">
                                    <div class="sparkline-bar-6 cai-chart"><canvas width="106" height="50" style="display: inline-block; width: 106px; height: 50px; vertical-align: top;"></canvas></div>
                                </div>
                                <div class="media-body">
                                    <h2>$ 458,778</h2>
                                    <small>Total Sales</small>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="card">
                        <div class="card-header">
                            <h2 translate>.HEADTAGLINE</h2>

                            
                        </div>
                        
                        <div class="card-body card-padding">
                            <form role="form" class="ng-pristine ng-valid">
                                <div class="form-group fg-line">
                                    <input type="text" class="form-control input-sm" id="exampleInputEmail1" ng-model="vm.user.tokenvar">
                                </div>
                                
                                

                                <button ng-click="vm.generateotoken()" type="submit" class="btn btn-primary btn-sm m-t-10 waves-effect" translate>.GENERATENEWTOKEN</button>
                                <button ng-if="vm.user.tokenvar" ngclipboard data-clipboard-text="{{vm.user.tokenvar}}" type="submit" class="btn btn-primary btn-sm m-t-10 waves-effect"><span translate>.COPYCLICK</span></button>
                                <button ng-if="vm.btn.savenewtoken" ng-click="vm.savenewtoken()" type="submit" class="btn btn-primary btn-sm m-t-10 waves-effect" translate>.SAVENEWTOKEN</button>
                            </form>
                        </div>


                    </div>
                    </div>
                    </section>

                    
            <footer  id="footer" ng-include="'public/template/partials/footer.html'" ng-cloak></footer>

        </section>