<div class="modal-dialog" translate-namespace="ADDEMPLOYEE">

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">&times;</button>
            <h4 class="modal-title">{{ 'RESTAURANT' | translate }} : {{info.name}}</h4>
        </div>
        <div class="modal-body">
            <div class="card-body">
                <p class="c-black f-500 m-b-5" >Add Room</p>
                  
                <br/>
                <form role="form" name="vm.userform" ng-submit="vm.create()">
                    <div class="row">
                        
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="fg-line">
                                    <input type="text" class="form-control" placeholder="Room Name" name="lname" ng-model="vm.room.name" ng-required="true">
                                </div>
                                <span class="input-group-addon last"><i class="zmdi zmdi-account"></i></span>
                            </div>
                            
                            <br/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" ng-disabled="!vm.userform.$valid" ng-click="vm.create()" class="btn btn-primary btn-sm m-t-5 waves-effect">Create Room</button>
            <button class="btn btn-warning" ng-click="close()">{{'CLOSE' | translate}}</button>
        </div>
    </div>
</div>

