<header id="header" class="media" translate-namespace="HEADER">
            <div class="pull-left h-logo">
                <a ui-sref="/" class="" >
                   OVERTABLE
                   <small>Panel Administrativo</small>
                </a>
            </div>

            <ul class="pull-right h-menu languagebar">
                
                <li class="dropdown">
                    <a data-toggle="dropdown" href="" aria-expanded="false"><i class="hm-icon zmdi zmdi-translate zmdi-hc-fw"></i></a>
                    <ul class="dropdown-menu dm-icon pull-right">
                        <li >
                            <a href="" ng-class="lang == 'sp' ? 'active' : ''" ng-click="changeLanguage('sp')" translate="BUTTON_LANG_SP" ><i class="zmdi zmdi-collection-item-1 zmdi-hc-fw"></i>  </a>
                        </li>
                        <li>
                            <a href="" ng-class="lang == 'en' ? 'active' : ''" ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN"><i class="zmdi zmdi-collection-item-2 zmdi-hc-fw"></i>  </a>
                        </li>
                     </ul>
                </li>
            </ul>
</header>